<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body class="homePage"></br></br></br></br>

    <form method="post" action='/homePage'>
        <div class="body">
        Página Principal
            <center></br>
                <table class="letra"; width="60%">
                <tr><td><a href="/playWithFriends">Jugar con amigos</a></td></tr>
                <td></br></td>
                <tr><td><a href="">Jugar con PC</a></td></tr>
                <td></br></td>
                <tr><td><a href="">Ver tutorial</a></td></tr>
                <td></br></td>                
            </center>
        </div>
    </body>
</html>