<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body class="homePage"></br></br></br></br>
        <div class="body">
            Elegir jugadores
            <center>
                <form method="post" action='/playWithFriends'>
                    <button value=2 name="selection">2 jugadores</button>
                    <button value=3 name="selection">3 jugadores</button>
                    <button value=4 name="selection">4 jugadores</button>
                </form>
            </center>
        </div>
    </body>
</html>
