<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="style.css" rel="stylesheet" type="text/css"></link>
        <META HTTP-EQUIV="REFRESH" CONTENT="3.5; URL=homePage">
        <script src="script.js" async></script>
    </head>

    <body class="pageWelcome">

    <p> </br></br>Bienvenido a: </br></br></br></br></br> </p>
    <form >        
        <div id="percentCount" class="percent-count">100% test</div>
            <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>  
</form>
    </body>
</html>